* {
    margin: 0 auto;
    padding: 0;
}
body {
    background-color: #fffaf4;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
#wrap {
    width: 1300px;
    background-color: #fff;
}

/* header */
header {
    width: 1300px;
    height: 150px;
    display: flex;
    position: sticky;
    top: 0;
}
.logo {
    width: 320px;
    height: 150px;
    margin: 0;
    background-color: #fff;

}
.logo img {
    width: 300px;
    height: 120px;
    margin-top: 15px;
    margin-left: 10px;
}
.logo a {
    width: 300px;
    height: 120px;
    margin-top: 15px;
}
.menu {
    width: 1000px;
    height: 120px;
    padding-top: 30px;
    background-color: #fff;
}
.menu > ul {
    width: 400px;
    height: 60px;
    display: flex;
    float: right;
}
.menu > ul > li {
    width: 200px;
    height: 120px;
    text-align: center;
    line-height: 120px;
}
.menu > ul > li > a {
    color: #00093f;
    font-size: 25px;
    font-weight: bold;
    display: block;
}
.menu > ul > li:hover > a {
    color: #b1001c;
}
.sub_menu {
    width: 200px;
    height: 120px;
    display: none;
}
.sub_menu > li {
    width: 200px;
    height: 40px;
    background-color: #dd0021;
    line-height: 40px;
    border-bottom: #6d0010;
    margin-top: 5px;
}
.sub_menu > li:first-child {
    margin: 0;
}
.sub_menu > li:first-child:hover {
    background-color: #6d0010;
}
.sub_menu > li:nth-child(2) {
    background-color: #1c2dc4;
}
.sub_menu > li:nth-child(2):hover {
    background-color: #170558;
}
.sub_menu > li:nth-child(3) {
    background-color: #eee;
}
.sub_menu > li:nth-child(3):hover {
    background-color: #bbb;
}
.sub_menu > li:nth-child(3) > a {
    color: #333;
}
.sub_menu > li a{
    color: #fff;
    font-size: 17px;
}

/* sample area */
.sample {
    width: 1270px;
    height: 220px;
    margin: 0;
    padding-top: 160px;
    padding-left: 30px;
    padding-bottom: 20px;
}
.sample > img {
    width: 150px;
    height: 150px;
}
.sample_title{
    font-size: 25px;
}
.sample_detail {
    font-size: 18px;
}

/* goods area */
.goods {
    width: 1300px;
    height: 650px;
    display: flex;
    margin: 0;
}
.goods_about {
    margin: 0;
    width: 650px;
    height: 650px;
    background-color: #11142b;
    border-radius: 20px;
}
.goods_carousel {
    margin: 0;
    width: 650px;
    height: 650px;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.car1 {
    width: 500px;
    height: 500px;
    position: relative;
}
.car1 > img {
    position: absolute;
    top: 75px;
    opacity: 0.1;
}
.car1 > img:hover {
    opacity: 1;
    transition: all 0.6s;
    cursor: pointer;
}
.car1 > p {
    position: absolute;
    top: 325px;
    left: 85px;
    color: #520000;
    font-size: 30px;
    font-weight: bold;
    width: 330px;
    height: 40px;
} 
.car2 {
    width: 500px;
    height: 500px;
    position: relative;
    display: none;
}
.car2 > img {
    position: absolute;
    top: 75px;
    opacity: 0.1;
}
.car2 > img:hover {
    opacity: 1;
    transition: all 0.6s;
    cursor: pointer;
}
.car2 > p {
    position: absolute;
    top: 325px;
    left: 85px;
    color: #121b66;
    font-size: 30px;
    font-weight: bold;
    width: 330px;
    height: 40px;
}
.car3 {
    width: 500px;
    height: 500px;
    position: relative;
}
.car3 > img {
    position: absolute;
    top: 75px;
    opacity: 0.1;
}
.car3 > img:hover {
    opacity: 1;
    transition: all 0.6s;
    cursor: pointer;
}
.car3 > p {
    position: absolute;
    top: 325px;
    left: 70px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    width: 330px;
    height: 40px;
}